body{
  margin: 100px 0 0 10px;
  padding: 0;
  background: url(mo.png) no-repeat;
  
  
}
.box{
	top: 100%;
	left: 40%;
  width: 650px;
  height: 1200px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 0 0 0;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box {
	margin-top: 250px;
}
.box-img{
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
.box h1{
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 200;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
	font-size: 30px;
  text-align: justify;
  margin: 50px;
}
.van ul{
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.van ul li{
	position: relative;
	list-style: none;
	margin: 2px;
}
.van ul li a{
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #dadada;
	padding: 8px 15px;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.van ul li a.active{
	background: #00b5de;
	color: #fff;
}


.btn a{
	border: 1px solid white;
	height: 25px;
	width: 60px;
	padding: 8px;
	background-color: black;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 20px;
	font-size: 10px;
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
	letter-spacing: 2px;
	font-family: sans-serif;
	font-weight: 300;
	opacity: 70%;
	
}
ul{
	margin-top: 10px;
  margin: 0;
  padding: 0;
}

.bo{
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;
}
.bo:hover{
	transform: translateY(0px);
	opacity: 1;
	
}
.p{
	letter-spacing: 3px;
	opacity: 60%;
	font-size: 20px;
	margin-top: 20px;
}